  <div class="questionIndex">
  <!-- Remove before turning in -->
  {{#link-to 'question' question.id}}
<p><button {{action 'delete' question}}>Delete This Question (remove after test)</button></p>
{{/link-to}}
  <!-- end remove -->
  </div>
