a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: black;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  width: 70%;
  margin-left: 1em;
}

/*ul's svg are in Nav only*/
ul {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
  padding: 0;
}
li {
  width: 50%;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: bold;
  padding-right: 1em;
}
svg {
  height: 3em;
}
/*ul's svg are in Nav only*/



img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, sans-serif;
  margin: 0em 0em .25em 0em;
}
h1 {
  font-size: 1.5em;
}
h4 {
  font-style: italic;
  color: grey;
  margin-top: 2em;
}
h6 {
  font-size: 1em;
}
p {
  font-family: helvetica, sans-serif;
  font-size: .75em;
}
button {
  text-transform: uppercase;
  font-size: .5em;
  font-weight: bold;
  border: 0px;
  border-radius: 2px;
  letter-spacing: .1em;
  margin-top: 1em;
}
.author {
  color:
#990000;
font-style: italic;
}
.questionIndex {
  margin: 0em 4em 0em 1em;
  background-color: #f4f4f4;
  padding: 1em;
  margin: 1em;
}
.answerIndex {
  margin: 0em 4em 0em 1em;
}
.questionButton {
  background-color: #cccccc;
  color: grey;
  border: .5px solid
#676767;
  margin-right: 1em;
}
.answerButton {
  background-color: #f1f8fb;
  color: #2b6dad;
  border: .5px solid #2b6dad;
}


form {
  font-family: helvetica, sans-serif;
  line-height: 1.5;
}
label {
  text-transform: uppercase;
  font-size: .5em;
}
input {
  width: 100%;
  height: 1.5em;
  margin-bottom: 1.5em;
}
