<div class="answerIndex">

{{#each model.questions as |question|}}
  {{question-detail question=question}}
  {{#link-to 'question' question.id}}

  <button class="answerButton">ANSWER THIS QUESTION</button>

  {{/link-to}}

{{/each}}

</div>
