<h1>Ask A Question</h1>

{{save-question saveNew="saveNew"}}

<hr>

{{#each model.questions as |question|}}
  {{userquestion-tile question=question}}
{{/each}}

{{#each model.answers as |answer|}}
  {{useranswer-tile answer=answer}}
{{/each}}

{{save-answer saveNewAnswer="saveNewAnswer"}}
