<div class="questionIndex">

{{edit-question question=model save="save"}}

<p><br></p>

{{question-detail question=model}}

<br>


{{save-answer saveNewAnswer="saveNewAnswer" question=model}}

{{userquestion-delete question=model destroyQuestion="destroyQuestion"}}



</div>
